{% extends "layout.html" %}

{% block title %}
    apology
{% endblock %}

{% block main %}

<section class="vh-100">
    <div class="container py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">

          <div class="card" style="color: #4B515D; border-radius: 35px;">
            <div class="card-body p-4">

                <div class="d-flex flex-column text-center">
                    <h6 class="display-6 mb-0 font-weight-bold" style="color: #1C2331;"> {{ apology }} </h6>
                  </div>

            </div>
          </div>

        </div>
      </div>

    </div>
</section>

{% endblock %}
